<div class="layui-card-header">バージョン情報 - すべてオープンソースバージョン</div>
<div class="layui-card-body layui-text layadmin-about">
    <script type="text/html" template>
        <p>現在のバージョン：<span id="now_ver">{$now_ver}</span></p>
    </script>
    <div class="layui-btn-container" style="text-align: center;">
        {if condition="($now_ver==$new_ver['ver'])"}
            <a href="https://www.nodcloud.com" target="_blank" class="layui-btn layui-btn-danger">ホームページ</a>
        {else/}
            {php}$number=auth_number();{/php}
            <a lay-text="升级系统" lay-href="{$new_ver.url}?number={$number}" class="layui-btn layui-btn-danger">アップグレードシステム</a>
        {/if}
        <a href="https://p.qiao.baidu.com/cps/chat?siteId=13056976&userId=27301598" target="_blank" class="layui-btn">カスタマーサービスに連絡してください</a>
    </div>
</div>
<div class="layui-card-header">著作権について</div>
<div class="layui-card-body layui-text layadmin-about">
    <blockquote class="layui-elem-quote" style="border: none;">点可云販売管理システムは、国家コンピュータソフトウェア著作権（2019SR0135099）によって保護されています。公式ウェブサイトの正規の承認なしに、製品のソースファイルを公開したり、製品を二次販売またはいかなる形で二次公開した場合、法的責任を追及する権利を留保します。
    </blockquote>
    <p>© 2019 <a href="https://www.nodcloud.com" target="_blank">NODCLOUD.COM</a> 無断転載を禁じます</p>
</div>