{extend name="main/main" /} {block name="main"}
<div class="layui-form layui-form-pane">
    <div class="layui-row">
        <div class="layui-col-xs9" id="search_data">
            <div class="layui-row layui-col-space3">
                <div class="layui-col-xs3" style="display:none">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">スキューコード[隐藏域]</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|pid" value="{$Think.get.id}">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">ドキュメントタイプ</label>
                        <div class="layui-input-block">
                            <select id="s|type">
                                <option value="0">すべてのタイプ</option>
                                <option value="1">購買伝票</option>
                                <option value="2">販売伝票</option>
                                <option value="3">購買返品伝票</option>
                                <option value="4">販売返品伝票</option>
                                <option value="5">振替伝票</option>
                                <option value="6">その他の入庫伝票</option>
                                <option value="7">その他の出庫伝票</option>
                                <option value="8">小売伝票</option>
                                <option value="9">小売返品伝票</option>
                                <option value="10">購入入庫伝票</option>
                                <option value="11">ポイント交換伝票</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <button class="layui-btn layui-btn-primary" onclick="search();"><i class="layui-icon layui-icon-search"></i></button>
                </div>
            </div>
        </div>
        <div class="layui-col-xs3 layui-btn-group btn_group_right">
            <button class="layui-btn layui-btn-primary" onclick="exports();">輸出</button>
            <button class="layui-btn layui-btn-primary" onclick="replace();"><i class="layui-icon layui-icon-refresh"></i></button>
        </div>
    </div>
    <hr />
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="data_table" lay-filter="table_main"></table>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    var formfield={php}echo get_formfield('serialinfo_form','layui');{/php};
</script>
<script src="/skin/js/main/serial_info.js" type="text/javascript" charset="utf-8"></script>
{/block}