{extend name="main/main" /}{block name="main"}
<link rel="stylesheet" href="/skin/css/prints.css" type="text/css" media="all" />
<div class="print_tip">
    <ul>
        <li>1.オンライン印刷とデザインには拡張プログラムのインストールが必要です。下のボタンをクリックし、指示に従ってインストールしてください。</li>
        <li>2.システムは初期化時に印刷スタイルが含まれています。実際のニーズに合わない場合は、レポートをデザインして保存してください。</li>
        <li>3.デフォルトの用紙サイズはシステム設定で選択できます。表のデータ内容は自動的にページ分割されます。表以外の要素はすべて変更可能です。</li>
        <li>4.もしデザイン中に誤って操作して表のスタイルが乱れた場合は、下の「デフォルトに戻す」ボタンをクリックして元に戻してください。</li>
        <li>5.Google ChromeやIE11以上のブラウザを使用してください。360ブラウザやTencentブラウザなどを使用する場合は、急速モードを有効にしてください。</li>
        <li>6.レポートのスタイル設計中に問題が発生した場合は、<a href="//www.nodcloud.com" target="_blank">点可云公式ウェブサイ</a>解決策を求めるために。</li>
    </ul>
    <hr>
    <div>
        <button class="layui-btn layui-btn-normal" onclick="prints()">印刷レポート</button>
        <button class="layui-btn" onclick="edit()">デザインレポート</button>
        <button class="layui-btn layui-btn-primary" onclick="recovery()">デフォルトを復元します</button>
    </div>
</div>
<div id="tab_main">{$tab_html}<style type="text/css" media="all">table{width:100%;margin: 0 auto;font-size:12px;color:#333;border-width:1px;border-color:#666;border-collapse:collapse}table th{border-width:1px;padding:8px;border-style:solid;border-color:#666;}table td{text-align:center;border-width:1px;padding:8px;border-style:solid;border-color:#666;background-color:#fff}</style></div>
<script type="text/javascript" charset="utf-8">
    var supplier = '{$class.supplierinfo.name}'; //供应商名称
    var time ='{$class.time}'; //单据时间
    var number ='{$class.number}';//单据编号
    var total = '{$class.total}';//单据金额
    var actual = '{$class.actual}';//实际金额
    var money = '{$class.money}';//实收金额
    var user = '{$class.userinfo.name}';//制单人
    var account = '{$class.accountinfo.name}';//结算账户
    var data = '{$class.data}';//备注信息
    var html_table =$('#tab_main').html(); //表格内容
    var print_name='{$print_name}';//纸张类型
    var paper_type='{$paper_type}';//纸张类型
    var print_text="{$print_text}"//模板代码
</script>
<script src="/skin/js/public/base64.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/public/LodopFuncs.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/public/prints.js" type="text/javascript" charset="utf-8"></script>
{/block}