{extend name="main/main" /}{block name="main"}
<link rel="stylesheet" href="/skin/css/prints.css" type="text/css" media="all" />
<div class="print_tip">
    <ul>
        <li>1.オンライン印刷とデザインには拡張プログラムのインストールが必要です。下のボタンをクリックし、指示に従ってインストールしてください。</li>
        <li>2.システムは初期化時に印刷スタイルが含まれています。実際のニーズに合わない場合は、レポートをデザインして保存してください。</li>
        <li>3.デフォルトの用紙サイズはシステム設定で選択できます。表のデータ内容は自動的にページ分割されます。表以外の要素はすべて変更可能です。</li>
        <li>4.もしデザイン中に誤って操作して表のスタイルが乱れた場合は、下の「デフォルトに戻す」ボタンをクリックして元に戻してください。</li>
        <li>5.Google ChromeやIE11以上のブラウザを使用してください。360ブラウザやTencentブラウザなどを使用する場合は、急速モードを有効にしてください。</li>
        <li>6.レポートのスタイル設計中に問題が発生した場合は、<a href="//www.nodcloud.com" target="_blank">点可云公式ウェブサイ</a>解決策を求めるために。</li>
    </ul>
    <hr>
    <div>
        <button class="layui-btn layui-btn-normal" onclick="prints()">印刷レポート</button>
        <button class="layui-btn" onclick="edit()">デザインレポート</button>
        <button class="layui-btn layui-btn-primary" onclick="recovery()">デフォルトを復元します</button>
    </div>
</div>
<div id="tab_main">
    <table>
        <thead>
            <tr>
                <th style="width: 98px;text-align:left;">製品名</th>
                <th style="width: 30px;">数量</th>
                <th style="width: 30px;">金额</th>
            </tr>
        </thead>
        <tbody>
            {volist name="info" id="vo"}
                <tr>
                    <td style="text-align:left;">{$vo.goodsinfo.name}</td>
                    <td>{$vo.nums}</td>
                    <td>{$vo.total}</td>
                </tr>
            {/volist}
        </tbody>
    </table>
    <style type="text/css" media="all">table{font-size:12px;color:#333;}table th{border-width:1px;}table td{text-align:center;border-width:1px;background-color:#fff}</style>
<script type="text/javascript" charset="utf-8">
    var customer = '{$class.customerinfo.name}'; //客户名称
    var time ='{$class.time}'; //单据时间
    var number ='{$class.number}';//单据编号
    var total = '{$class.total}';//单据金额
    var actual = '{$class.actual}';//实际金额
    var money = '{$class.money}';//实收金额
    var user = '{$class.userinfo.name}';//制单人
    var paytype = '{$class.paytype.name}';//付款方式
    var integral= '{$class.integral}';//赠送积分
    var alt_integral= '{$class.customerinfo.integral}';//当前积分
    var data = '{$class.data}';//备注信息
    var html_table =$('#tab_main').html(); //表格内容
    var html_height =(cal(($('#tab_main').height()-0)*1.3)-0); //表格高度
    var print_name='{$print_name}';//纸张类型
    var paper_type='{$paper_type}';//纸张类型
    var print_text="{$print_text}"//模板代码
</script>
<script src="/skin/js/public/base64.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/public/LodopFuncs.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/cashier/prints.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function(){
        var auto={$Think.get.auto|default='false'};//自动打印
        if(auto!=false){
            setTimeout('min_prints()',513);
        }
    });
</script>
{/block}