{extend name="main/main" /} {block name="main"}
<div class="layui-form layui-form-pane">
    <div class="layui-row">
        <div class="layui-col-xs9" id="search_data">
            <div class="layui-row layui-col-space3">
                <div class="layui-col-xs3" style="display:none">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">顧客ロゴ</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|pid" value="{$Think.get.id}">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">ドキュメントタイプ</label>
                        <div class="layui-input-block">
                            <select id="s|type" lay-filter="aihao">
                                <option value="0">すべての種類</option>
                                <option value="1">仕入れ消込伝票</option>
                                <option value="2">販売消込伝票</option>
                                <option value="3">仕入れ返品消込伝票</option>
                                <option value="4">販売返品消込伝票</option>
                                <option value="5">入金伝票</option>
                                <option value="6">支払伝票</option>
                                <option value="7">その他収入伝票</option>
                                <option value="8">その他支出伝票</option>
                                <option value="9">小売伝票入金</option>
                                <option value="10">小売返品消込伝票</option>
                                <option value="11">仕入れ入庫伝票</option>
                                <option value="12">サービス消込伝票</option>
                                <option value="13">資金振替伝票-出</option>
                                <option value="14">資金振替伝票-入</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">資金操作</label>
                        <div class="layui-input-block">
                            <select id="s|set">
                                <option value="0">すべての操作</option>
                                <option value="1">資金減少</option>
                                <option value="2">資金増加</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">帳票作成者</label>
                        <div class="layui-input-block">
                            <div id="userpage" class="selectpage"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3 layui-btn-group">
                    <button class="layui-btn layui-btn-primary" onclick="show_more_info(this);" more='0'><i class="layui-icon layui-icon-down"></i></button>
                    <button class="layui-btn layui-btn-primary" onclick="search();"><i class="layui-icon layui-icon-search"></i></button>
                </div>
            </div>
            <div class="layui-row layui-col-space3" show>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">開始日</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|start_time" placeholder="開始日を選択してください">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">終了日</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|end_time" placeholder="終了日を選択してください">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">備考情報</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|data" placeholder="備考情報を入力してください">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs3 layui-btn-group btn_group_right">
            <button class="layui-btn layui-btn-primary" onclick="exports();">エクスポート</button>
            <button class="layui-btn layui-btn-primary" onclick="replace();"><i class="layui-icon layui-icon-refresh"></i></button>
        </div>
    </div>
    <hr />
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="data_table" lay-filter="table_main"></table>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    var formfield={php}echo get_formfield('accountinfo_form','layui');{/php};
</script>
<script src="/skin/js/public/selectpage.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/account/accountinfo.js" type="text/javascript" charset="utf-8"></script>
{/block}