{extend name="main/main" /} {block name="main"}
<div class="layui-form layui-form-pane">
    <div class="layui-row">
        <div class="layui-col-xs9" id="search_data">
            <div class="layui-row layui-col-space3">
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">ドキュメント番号</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|number" placeholder="ドキュメント番号を入力してください">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">アカウントを呼び出します</label>
                        <div class="layui-input-block">
                            <div id="nod_account" class="selectpage" nod="s|account" tip="すべての決済口座" url="/index/service/account_list" checkbox></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">アカウントに転送します</label>
                        <div class="layui-input-block">
                            <div id="nod_toaccount" class="selectpage" nod="s|toaccount" tip="すべての決済口座" url="/index/service/account_list" checkbox></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3 layui-btn-group">
                    <button class="layui-btn layui-btn-primary" onclick="show_more_info(this);" more='0'><i class="layui-icon layui-icon-down"></i></button>
                    <button class="layui-btn layui-btn-primary" onclick="search();"><i class="layui-icon layui-icon-search"></i></button>
                </div>
            </div>
            <div class="layui-row layui-col-space3" show>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">開始日</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|start_time" placeholder="開始日を選択してください" >
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">終了日</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|end_time" placeholder="終了日を選択してください" >
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">ステータスを確認します</label>
                        <div class="layui-input-block">
                            <select id="s|type">
                                <option value="0">すべての州</option>
                                <option value="1">レビューされていません</option>
                                <option value="2">レビュー</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space3" show>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">シングルハンドの人</label>
                        <div class="layui-input-block">
                            <div id="nod_user" class="selectpage" nod="s|user" tip="すべての独身者" url="/index/service/user_list" checkbox></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">備考情報</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|data" placeholder="備考情報を入力してください">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-col-xs3 layui-btn-group btn_group_right">
            <button class="layui-btn layui-btn-primary" onclick="export_type();">輸出</button>
            <button class="layui-btn layui-btn-primary" onclick="reload();"><i class="layui-icon layui-icon-refresh"></i></button>
        </div>
    </div>
    <hr />
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="data_table" lay-filter="table_main"></table>
        </div>
    </div>
</div>
<script type="text/html" id="bar_info">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="prints">印刷</button>
        <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="info">詳細</button>
        {if condition="(get_root('eft_del'))"}
            <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="delect">消去</button>
        {/if}
    </div>
</script>
<script type="text/html" id="batch_html">
    {if condition="(get_root('eft_auditing'))"}
        <button class="layui-btn" onclick="auditing();" batch>レビュー</button>
    {/if}
    {if condition="(get_root('eft_del'))"}
        <button class="layui-btn" onclick="delect('batch');" batch>消去</button>
    {/if}
</script>
<script type="text/javascript" charset="utf-8">
    var formfield={php}echo get_formfield('eft_form','layui');{/php};
</script>
<script src="/skin/js/public/selectpage.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/eft/form.js" type="text/javascript" charset="utf-8"></script>
{/block}