{extend name="main/main" /} {block name="main"}
<div class="layui-form layui-form-pane">
    <div class="layui-row">
        <div class="layui-col-xs9" id="search_data">
            <div class="layui-row layui-col-space3">
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">バーコード名</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|name" placeholder="バーコード名を入力してください">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">バーコードコンテンツ</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|code" placeholder="バーコードコンテンツを入力してください">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">バーコードタイプ</label>
                        <div class="layui-input-block">
                            <select id="s|type">
                                <option value="0">すべてのタイプ</option>
                                <option value="1">バーコード</option>
                                <option value="2">QRコード</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <button class="layui-btn layui-btn-primary" onclick="search();"><i class="layui-icon layui-icon-search"></i></button>
                </div>
            </div>
        </div>
        <div class="layui-col-xs3 layui-btn-group btn_group_right">
            {if condition="(get_root('auxiliary_add'))"}
                <button class="layui-btn layui-btn-primary" onclick="detail(0);">増加</button>
                <button class="layui-btn layui-btn-primary" onclick="imports();">輸入</button>
            {/if}
            <button class="layui-btn layui-btn-primary" onclick="exports();">輸出</button>
            <button class="layui-btn layui-btn-primary" onclick="reload();"><i class="layui-icon layui-icon-refresh"></i></button>
        </div>
    </div>
    <hr />
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="data_table" lay-filter="table_main"></table>
        </div>
    </div>
</div>
<script type="text/html" id="bar_info">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="view">画像</button>
        {if condition="(get_root('auxiliary_edit'))"}
            <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit">改訂</button>
        {/if}
        {if condition="(get_root('auxiliary_del'))"}
            <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="delect">消去</button>
        {/if}
    </div>
</script>
<script type="text/html" id="batch_html">
    {if condition="(get_root('auxiliary_del'))"}
        <button class="layui-btn" onclick="delect('batch');" batch>消去</button>
    {/if}
</script>
<script type="text/html" id="more_html">{php}hook_listen('formmore');{/php}</script>
<script type="text/javascript" charset="utf-8">
    var formfield={php}echo get_formfield('code_form','layui');{/php};
</script>
<script src="/skin/js/code/main.js" type="text/javascript" charset="utf-8"></script>
{/block}