{extend name="main/main" /} {block name="main"}
<link rel="stylesheet" href="/skin/css/sys/sys.css" type="text/css" media="all" />
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li nod="basics" class="layui-this">基本情報</li>
        <li nod="function">機能設定</li>
        <li nod="cashier">小売設定</li>
        <li nod="home">ホームページ設定</li>
    </ul>
    <div class="layui-tab-content layui-form layui-form-pane">
        <div class="layui-tab-item layui-show">
            <div class="layui-form-item">
                <label class="layui-form-label">システム名</label>
                <div class="layui-input-inline">
                    <input type="text" id="sys_name" placeholder="システム名を入力してください" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会社名</label>
                <div class="layui-input-inline">
                    <input type="text" id="company_name" placeholder="会社名を入力してください" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会社電話</label>
                <div class="layui-input-inline">
                    <input type="text" id="company_tel" placeholder="会社電話を入力してください" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会社住所</label>
                <div class="layui-input-inline">
                    <input type="text" id="company_add" placeholder="会社住所を入力してください" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="商品管理ページの在庫デフォルトしきい値">在庫デフォルトしきい値</label>
                <div class="layui-input-inline">
                    <input type="text" id="room_threshold" placeholder="デフォルトしきい値を入力してください" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="全体の印刷用紙設定<br/>【A4】210mm×297mm<br/>【241-2】210mm×140mm">デフォルト印刷用紙</label>
                <div class="layui-input-inline">
                    <select id="print_paper">
                        <option value="0">A4</option>
                        <option value="1">241-2</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="伝票ページの作成者を選択可能にするか">作成者選択可</label>
                <div class="layui-input-inline">
                    <select id="user_opt">
                        <option value="0">いいえ</option>
                        <option value="1">はい</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="有効にすると伝票を自動的に審査する">伝票自動審査</label>
                <div class="layui-input-inline">
                    <select id="auto_auditing">
                        <option value="0">いいえ</option>
                        <option value="1">はい</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="ロット機能を有効にするか">ロット機能を有効化</label>
                <div class="layui-input-inline">
                    <select id="enable_batch">
                        <option value="0">いいえ</option>
                        <option value="1">はい</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="シリアルコード機能を有効にするか">シリアルコード機能を有効化</label>
                <div class="layui-input-inline">
                    <select id="enable_serial">
                        <option value="0">いいえ</option>
                        <option value="1">はい</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="小売ページのタイトル情報">小売タイトル</label>
                <div class="layui-input-inline">
                    <input type="text" id="cashier_title" placeholder="小売タイトルを入力してください" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="例：【割合1は1円=1ポイント、割合2は1円=2ポイント】">ポイント割合</label>
                <div class="layui-input-inline">
                    <input type="text" id="integral_proportion" placeholder="ポイント割合を入力してください" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="小売ページのデフォルト顧客情報">デフォルト顧客</label>
                <div class="layui-input-inline">
                    <div id="cashier_customer_page" class="selectpage"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="小売ページのデフォルト資金アカウント">デフォルト資金アカウント</label>
                <div class="layui-input-inline">
                    <div id="cashier_account_page" class="selectpage"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="小売伝票を送信後自動的にレシートを印刷する">レシート自動印刷</label>
                <div class="layui-input-inline">
                    <select id="cashier_print">
                        <option value="0">いいえ</option>
                        <option value="1">はい</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form-item">
                <label class="layui-form-label" nod-tips="ホームページのデータグラフの日数">グラフ日数</label>
                <div class="layui-input-inline">
                    <input type="text" id="form_day" placeholder="データグラフの日数を入力してください" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" nod-tips="ホームページのお知らせモジュールに表示される内容">お知らせ情報</label>
                <div class="layui-input-block">
                    <textarea id="notice" placeholder="お知らせ情報を入力してください" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    {if condition="(get_root('senior_add'))"}
        <div class="set_btn">
            <button class="layui-btn" onclick="save();">設定を保存</button>
        </div>
    {/if}
</div>
<script type="text/javascript" charset="utf-8">
    var sys={php}echo json_encode($sys);{/php};
    var cashier_customer_selectdata={php}echo get_selectpage('customer',$sys['cashier_customer']);{/php};
    var cashier_account_selectdata={php}echo get_selectpage('account',$sys['cashier_account']);{/php};
</script>
<script src="/skin/js/public/selectpage.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/sys/sys.js" type="text/javascript" charset="utf-8"></script>
{/block}