{extend name="main/main" /} {block name="main"}
<div class="layui-form layui-form-pane">
    <div class="layui-row">
        <div class="layui-col-xs9" id="search_data">
            <div class="layui-row layui-col-space3">
                <div class="layui-col-xs3" style="display:none">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">顧客ロゴ</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|pid" value="{$Think.get.id}">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">ドキュメントタイプ</label>
                        <div class="layui-input-block">
                            <select id="s|type">
                                <option value="0">すべてのタイプ</option>
                                <option value="1">小売リスト</option>
                                <option value="2">小売返品リスト</option>
                                <option value="4">積分交換リスト</option>
                                <option value="3">手動操作</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">積分操作</label>
                        <div class="layui-input-block">
                            <select id="s|set">
                                <option value="0">すべての操作</option>
                                <option value="1">スコア</option>
                                <option value="2">増加します</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">シングルハンドの人</label>
                        <div class="layui-input-block">
                            <div id="userpage" class="selectpage"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3 layui-btn-group">
                    <button class="layui-btn layui-btn-primary" onclick="show_more_info(this);" more='0'><i class="layui-icon layui-icon-down"></i></button>
                    <button class="layui-btn layui-btn-primary" onclick="search();"><i class="layui-icon layui-icon-search"></i></button>
                </div>
            </div>
            <div class="layui-row layui-col-space3" show>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">開始日</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|start_time" placeholder="開始日を選択してください">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">終了日</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|end_time" placeholder="終了日を選択してください">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">備考情報</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="s|data" placeholder="備考情報を入力してください">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs3 layui-btn-group btn_group_right">
            {if condition="(get_root('basics_edit'))"}
                <button class="layui-btn layui-btn-primary" onclick="set({$Think.get.id});">動作します</button>
            {/if}
            <button class="layui-btn layui-btn-primary" onclick="exports();">輸出</button>
            <button class="layui-btn layui-btn-primary" onclick="replace();"><i class="layui-icon layui-icon-refresh"></i></button>
        </div>
    </div>
    <hr />
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="data_table" lay-filter="table_main"></table>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    var formfield={php}echo get_formfield('integral_form','layui');{/php};
</script>
<script src="/skin/js/public/selectpage.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/customer/integral.js" type="text/javascript" charset="utf-8"></script>
{/block}